/* Navigation Bar */

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
} 

.fa-bars {
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: #333;  
    font-weight: 100; 
    position: absolute;
    left: 30px;
    top: 20px;

    

}

#navbody { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    overflow: hidden; 
} 

#navigation { 
    position: relative; 
    display: none;
}

#navigation a{ 
    list-style: none; 
    text-align: center;    
} 

#navigation a { 
    color: #333; 
    text-decoration: none; 
    font-size: 3em; 
    padding: 5px 20px; 
    display: inline-flex; 
    font-weight: 200; 
    transition: 0.5s; 
} 

#navigation :hover a { 
    color: #0002; 
} 

#navigation :hover a { 
    color: #000; 
    background: rgba(255,255,255,1); 
} 

#navigation a:before { 
    content: ''; 
    position: absolute; 
    top: 50%; 
    left: 40%; 
    transform: translate(-50%,-50%); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 5em; 
    color: rgba(0,0,0,.1); 
    border-radius: 50%; 
    z-index: -1; 
    opacity: 0; 
    font-weight: 900; 
    text-transform: uppercase; 
    letter-spacing: 500px; 
    transition: letter-spacing 0.5s,left 0.5s; 
} 

#navigation a:hover:before { 
    content: attr(data-text); 
    opacity: 1; left: 50%; 
    letter-spacing: 10px; 
    width: 1800px; 
    height: 1800px; 
} 

#home:before { 
    background: #F2C799; 
} 

#bakery:before { 
    background: #ECC7C8; 
}

#honey:before { 
    background: #C3DAED; 
} 

#contact:before { 
    background: #DCEDC3; 
} 

#feedback:before { 
    background: #E1C3ED; 
} 

/* header */

#header{
    background-image:url(Splash.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

#menu{
  font-weight: 100;
  font-size: 40px;
  margin-left: 5%;
}

#opnbtn{
    color: #000;
}

#logo{
    text-align: center;
    
  
    
}

#intro{

    margin-left:10%;
    margin-right:10%;
    text-align: center;
}

#footer{
    background-image:url(Splash.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding:2%;
}

#links{
    width: 70%;
    text-align: justify;
}

#iconfooter{
    font-size: 30px;
}

/* Index page */

#info{
    width: 100%;
}


 #heading{

    font-weight: 400;


}

#description{
    font-weight: 100;
 
}

#right {

    width: 20%;
    float: right;
}

#left{

    width: 20%;

}

#Honeyimg{

    width:80%;
    height:60%;
}

#Bakeryimg{

    width:70%;
    height:60%;
}


/* Products */

#middle{
    width: 80%;
    margin: auto;
}

#products{

    width: 90%;
    margin-right: 10%;
    margin-left: 15%;
    margin-top: 5%;
    margin-top: 5%;

}

#productsHeading{
    font-weight: 100;
    text-align: center;
    font-size: 80px;
    
}

#productImg{
    width: 40%;
    height:40%;
    border-radius: 20%;

}

#productdestitle{

    font-size:20px;

}

#productprice{
    font-weight:bold;
}

/* Contact page */

#contactinfo{
    margin-left: 20%;
    font-weight: 100;
}

