/* Navigation Bar */

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
   
} 



.fa-bars {
    font-size: 30px;
    font-size: 2vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: #333;  
    font-weight: 100; 
    position: absolute;
    left: 30px;
    top: 20px;

    

}

#navbody { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    position:fixed;
    width: 100%;
    z-index: 1;
    overflow: hidden; 
} 

#navigation { 
    position: relative; 
    display: none;
}

#navigation a{ 
    list-style: none; 
    text-align: center;    
} 

#navigation a { 
    color: #333; 
    text-decoration: none; 
    font-size: 3em; 
    font-size: 4vw;
    padding: 5px 20px; 
    display: inline-flex; 
    font-weight: 200; 
    transition: 0.5s; 
} 

#navigation :hover a { 
    color: #0002; 
} 

#navigation :hover a { 
    color: #000; 
    background: rgba(255,255,255,1); 
} 

#navigation a:before { 
    content: ''; 
    position: absolute; 
    top: 50%; 
    left: 40%; 
    transform: translate(-50%,-50%); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 4em;
    color: rgba(0,0,0,.1); 
    border-radius: 50%; 
    z-index: -1; 
    opacity: 0; 
    font-weight: 900; 
    text-transform: uppercase; 
    letter-spacing: 500px; 
    transition: letter-spacing 0.5s,left 0.5s; 
} 

#navigation a:hover:before { 
    content: attr(data-text); 
    opacity: 1; left: 50%; 
    letter-spacing: 10px; 
    width: 1800px; 
    height: 1800px; 
} 

#home:before { 
    background: #E1C3ED; 
} 

#bakery:before { 
    background: #ECC7C8; 
}

#honey:before { 
    background: #C3DAED; 
} 

#contact:before { 
    background: #DCEDC3; 
} 



/*indexpage - new */

#logoindex{

    float: left;
    margin: 10%;
}

#abobutton{
    width: 30%;
    margin-top: 17%;
    margin-bottom: 2%;
    padding: 1% 2%;
    font-size: 150%;
    background-color: #E1C3ED; 
    border-color: transparent;

}

#abobutton:hover{
    background-color: white;
    transition: 1s;
}
#bakbutton{
    width: 30%;
    margin-bottom: 2%;
    padding: 1% 2%;
    font-size: 150%;
    background-color:#ECC7C8;
    border-color: transparent;
}

#bakbutton:hover{
    background-color: white;
    transition: 1s
}

#honbutton{
    width: 30%;
    margin-bottom: 2%;
    padding: 1% 2%;
    font-size: 150%;
    background-color:#C3DAED;
    border-color: transparent;
      
}

#honbutton:hover{
    background-color: white;
    transition: 1s
}


#conbutton{
    width: 30%;
    margin-bottom: 20%;
    padding: 1% 2%;
    font-size: 150%;
    background-color: #DCEDC3;
    border-color: transparent;

}

#conbutton:hover{
    background-color: white;
    transition: 1s
}
/* header */

#header{
    background-image:url(Splash.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

#menu{
  font-weight: 100;
  font-size: 40px;
  font-size: 3vw;
  margin-left: 5%;
}

#opnbtn{
    color: #000;
}


#intro{

    margin-left:10%;
    margin-right:10%;
    text-align: center;
}

/*Footer */

#footer{
    background-image:url(Splash.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding:2%;
}

#links{
    width: 100%;
    text-align: justify;
}

#iconfooter{
    font-size: 30px;
    font-size: 2vw;

}

#contactus{
    padding-left: 40%;
}

#webpages{
    padding-left: 5%;
}



/* Index page */

#info{
    width: 100%;
}


 #heading{

    font-weight: 400;
    font-size: 2vw;


}

#description{
    font-weight: 100;
    font-size: 1.25vw;
 
}

#right {

    width: 20%;
    float: right;
}

#left{

    width: 20%;

}

#Honeyimg{

    width:80%;
    height:60%;
}

#Bakeryimg{

    width:70%;
    height:60%;
}

#WAWI{

    width:70%;
    height:60%;
}

#logomain{
    height: 30%;
    width: 30%;
    margin-left: 35%;
}

/* Products */

#logo{
    text-align: center;


}

#flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
  }
  



#middle{
    width: 80%;
    margin: auto;
}

#products{
    width: 80%;
    margin-right: 10%;
    margin-left: 18%;
    margin-top: 5%;
    margin-top: 5%;

}


#productImg{
    width: 40%;
    height:40%;
    border-radius: 20%;

}

#productdestitle{

    font-size:20px;
    font-size: 1.5vw;

}

#productde{

    font-size:10px;
    font-size: 1vw;

}

#productprice{
    font-weight:bold;
    font-size:10px;
    font-size: 2vw;
}

/* Contact page */

#contact{
    text-align: center;
    font-size: 50px ;
    font-size: 4vw ;
}

#contactinfo{
    margin-left: 20%;
    font-weight: 100;
    font-size: 20px;
    font-size: 1.5vw;  
    text-align: center;
}

#contacttable{
    width: 80%;
    
}

#contacticon{
    font-size: 30px;
    font-size: 2vw;
}